/* COLORES */
$orange: #F4511E;
$blco: #FFFFFF;
$ngro: #000000;
$bluep: #092743;
$warning: #c09853;
$muted: #999999;
$orange2: #FFCCBC;
$gris: #ECEFF1;
$orange3: #FF8A65;
$gris2: #1C2833;

/*TAMANOS*/
$w300: 300;
$cero: 0;

/*PIXELES*/
$px-13: -13px;
$px-3: -3px;
$px1: 1px;
$px5: 5px;
$px10: 10px;
$px12: 12px;
$px13: 13px;
$px14: 14px; 
$px15: 15px;
$px18: 18px;
$px20: 20px;
$px22: 22px;
$px24: 24px;
$px25: 25px;
$px30: 30px;
$px35: 35px;
$px56: 56px; 
$px60: 60px;
$px65: 65px;
$px80: 80px;
$px90: 90px;
$px100: 100px;
$px150: 150px;
$px300: 300px;
$px500: 500px;
$pc600: 600px;

/* EM */
$em1: 1.5em;
$em3: 3em;
$em30: 30em;

/* PORCENTAJES */
$dos: 2%;
$cinco: 5%;
$diez: 10%;
$quince: 15%;
$veinticinco: 25%;
$treinte: 30%;
$cincuenta: 50%;
$setenta: 70%;
$cien: 100%;

/*EFECTS*/
$ms300: 300ms; 
$sin: none;
$ocultar: hidden; 
$may: uppercase; 
$sol: solid; 
$abs: absolute;
$der: right;
$inl-b: inline-block;
$ih: inherit;
$ctz: capitalize;
$rltv: relative;
$blk: block;
$cvr: cover;
$lft: left;
$no-rpt: no-repeat;
$bttm: bottom;
$ctr: center;