.map {
	padding: 20px 10px;
}

.contact {
	h3 {
		color: $orange;
		font-family: 'Open-Sans-Condensed', sans-serif !important;
	}

	p {
		color: $ngro !important;
		font-family: 'Open-Sans-Condensed', sans-serif !important;
	}
	ul {
		padding-left: 0 !important;
	}
	li {
		color: $ngro;
		font-family: 'Open-Sans-Condensed', sans-serif !important;
	}
}

.contact-form {
	color: $orange3 !important;
	font-family: 'Open-Sans-Condensed', sans-serif !important;
	.btn-submit {
		width: 100% !important;
		background-color: $orange !important;
		color: $blco !important;
		font-family: 'Open-Sans-Condensed', sans-serif !important;
		font-weight: bold;
	}
}

 .form-control {
	border: 1px $orange solid !important;
	color: $orange2 !important;
	font-family: 'Open-Sans-Condensed', sans-serif !important;
	font-weight: bold;
}

input[placeholder], [placeholder], *[placeholder] {
   color: $orange3 !important;

}

.formwidth {
	width: 55% !important;
}
